body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #ffffff;
    color: #4B5320;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #c8e6c9;
    padding: 50px;
    text-align: center;
}

.content {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background: #ddd;
    text-align: center;
    padding: 10px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #e8f5e9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 10px;
}




